{mode, max}.

{duration, 60}.

{concurrent, 1}.

{code_paths, ["../bb_files"]}.

{driver, basho_bench_driver_riakc_pb}.

{key_generator, {function, bb_files, keygen, ["../bb_files"]}}.

{value_generator, {function, bb_files, valgen, []}}.

{riakc_pb_ips, [{127,0,0,1}]}.

{riakc_pb_port, 8087}.

{riakc_pb_bucket, <<"bb_files">>}.

{riakc_pb_replies, 1}.

{operations, [{put, 1}]}.

%% Use {auto_reconnect, false} to get "old" behavior (prior to April 2013).
%% See deps/riakc/src/riakc_pb_socket.erl for all valid socket options.
{pb_connect_options, [{auto_reconnect, true}]}.

%% Overrides for the PB client's default 60 second timeout, on a
%% per-type-of-operation basis.  All timeout units are specified in
%% milliseconds.  The pb_timeout_general config item provides a
%% default timeout if the read/write/listkeys/mapreduce timeout is not
%% specified.

{pb_timeout_general, 30000}.
{pb_timeout_read, 5000}.
{pb_timeout_write, 5000}.
{pb_timeout_listkeys, 50000}.
%% The general timeout will be used because this specific item is commented:
%% {pb_timeout_mapreduce, 50000}.
